{% extends 'GolfEnLaNubeBundle::layout.html.twig' %}

{% block page_header -%}
	<h3>Nueva Cancha</h3>
{% endblock %}

{% block body -%}

	<div class='row'>
		<div class='col-md-12'>
    		{{ form(form, {'style': 'horizontal'}) }}
    	</div>
    </div>

    <div class='row'>
    	<div class='col-md-12'>
        	<ul class="record_actions">
			    <li>
			        <a href="{{ path('admin_cancha') }}">
			            Back to the list
			        </a>
			    </li>
			</ul>
		</div>
	</div>
{% endblock %}
