<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="myModalLabel">Tarjeta del jugador: &nbsp; <small>{{ entity.torneofechajugador.jugador.persona.nombrecompleto }} </strong>- Matr&iacute;cula: <strong>{{ entity.torneofechajugador.jugador.matriculaaag }}</strong></small></h4>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
</div>